/*全局*/
body{
	background: url('../img/login_bg.gif');
}


/*头部*/
.header{
	height: 89px;
	line-height: 89px;
	background: rgba(255, 255, 255, 1);
	border-bottom: 1px solid #c5c5c5;
	.head{
		padding: 0 120px;
		.logoSpan{
			a{
			    display: inline-block;
				margin-right: 30px;
				i{
					display: inline-block;
				    margin-top: -3px;
				    margin-right: 5px;
				    vertical-align: middle;
				    width: 17px;
				    height: 17px;
				    &.set{
				    	background: url('../img/loginIcon.gif') no-repeat -1px -1px;
				    }
				    &.server{
				    	background: url('../img/loginIcon.gif') no-repeat -25px -1px;
				    }
				}
				&.serverText{
					color: rgba(196, 0, 0, 1);
				}
			}
			
		}
	}
}


/*尾部*/
.footer{
	margin-top: 50px;
	text-align: center;
	a{
		diplay: inline-block;
		padding: 0 10px;
		border-right: 1px solid #000;
		&:last-child{
			border: 0 none;
		}
		&:hover{
			color: #ff0421;
		}
	}
}